.login {
  padding-top: 72px;
  height: 100vh;
  background-color: #f0f2f5;
}

.loginWrapper {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px 0;
}

.loginLeft {
  flex: 5;
}

.loginRight {
  flex: 4;
}

.loginLeft .loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 28px;
}

.loginBox {
  padding: 12px 20px 24px 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.loginInput {
  height: 50px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  font-size: 18px;
  padding-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 6px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 8px;
  transition: all 0.2s;
}

.loginButton:hover {
  background-color: #579df8;
}

.loginForgot {
  text-align: center;
  color: #1775ee;
  margin-top: 16px;
  text-decoration: none;
  font-weight: 500;
}

.loginForgot:hover {
  text-decoration: underline;
}

.loginOther {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.loginOtherDesc {
  padding-right: 20px;
}

.loginSlash {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 10px 16px;
  text-align: center;
}

.loginRegisterButton {
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 16px;
  transition: all 0.2s;
}

.loginRegisterButton:hover {
  background-color: #7adb69;
}

.loginGoogle button,
.loginFacebook button {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

.loginGoogle button:hover,
.loginFacebook button:hover {
  cursor: pointer;
}
