.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px 14px;
  background: white;
  gap: 40px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
}

.topBarSearch {
  display: flex;
  align-items: center;
  flex: 5;
}

.searchInput {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #dddfe2;
  font-size: 18px;
  padding: 7px 0 7px 20px;
  height: 38px;
}

.topBarLogo {
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: 800;
  color: #4267b2;
  flex: 2;
}

.topBarLogo button {
  padding: 0 10px;
  border: 0;
  background: #4267b2;
  color: white;
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  margin-right: 10px;
}

.topBarButton {
  display: flex;
  align-items: center;
  flex: 3;
  justify-content: flex-end;
}

.userProfile {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 5px;
  transition: all 0.2s;
}

.userProfile:hover {
  background: #eeeff1;
}

.userAvatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-size: 15px;
  font-weight: 600;
  color: rgb(5, 5, 5);
  padding-left: 7px;
  padding-right: 10px;
}

.userButton {
  width: 40px;
  height: 40px;
  background: rgb(228, 230, 235);
  padding: 0;
  border: 0;
  margin-left: 7px;
  border-radius: 50%;
  transition: all 0.2s;
  position: relative;
}

.userNotification {
  position: absolute;
  color: white;
  top: -5px;
  right: -5px;
  background: #f02849;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.userButton:hover {
  background: #d3d4d8;
}

.userButton img {
  width: 20px;
  height: 20px;
}

.topBarButton button:hover {
  cursor: pointer;
}
