.home {
  background: #f0f2f5;
}

.homeWrapper {
  display: flex;
  padding: 12px 14px;
  gap: 60px;
  justify-content: space-between;
  height: 100vh;
}

.leftBar {
  flex: 2;
  max-width: 360px;
}

.feed {
  flex: 5;
  max-width: 680px;
}

.rightBar {
  flex: 3;
  max-width: 360px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .homeWrapper {
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .leftBar {
    display: none;
  }
  .feed {
    flex: 3;
  }
  .rightBar {
    flex: 1;
  }
  .homeWrapper {
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .leftBar,
  .rightBar {
    display: none;
  }
}
