.home {
  background: #f0f2f5;
  height: calc(100vh - 56px);
  margin-top: 56px;
}

.homeWrapper {
  display: flex;
  padding: 7px 14px;
  gap: 40px;
}

.leftBar {
  flex: 2;
}

.feed {
  flex: 5;
}

.rightBar {
  flex: 3;
}
