.leftBar {
  padding: 0;
  position: sticky;
  top: 68px;
}

.leftBarItem {
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  width: calc(100% + 6px);
  background: inherit;
  margin-left: -6px;
}

.title {
  color: rgb(101, 103, 107);
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0 5px 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}

.leftBarItemWrapper {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.leftBarItem:hover {
  background: rgb(221, 222, 226);
  border-radius: 10px;
}

.leftBarItemDesc {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(15, 5, 5);
}

.leftBarItemIcon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.shortCutIcon {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  object-fit: cover;
}
