.topBar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
  background: white;
  gap: 60px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 10%);
  z-index: 1;
}

.topBarIcon {
  display: flex;
  justify-content: center;
  flex: 4;
  position: relative;
  max-width: 520px;
}

.iconWrapper {
  padding: 4px 0;
  flex: 1;
  display: grid;
  place-items: center;
}

.topBarIcon .selected {
  border-bottom: 3px solid #2d88ff;
}

.topBarIcon .selected button:hover {
  background: transparent;
  border: none;
}

.topBarIcon button {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: grid;
  place-items: center;
}

.searchInput {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #dddfe2;
  font-size: 18px;
  padding: 7px 0 7px 20px;
  height: 38px;
}

.topBarLogo {
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: 800;
  flex: 2;
  padding: 7px 0;
  color: #2d88ff;
  max-width: 360px;
}

.topBarLogo button {
  border: 0;
  background: #2d88ff;
  color: white;
  font-size: 30px;
  font-weight: 800;
  border-radius: 50%;
  margin-right: 10px;
}

.topBarButton {
  display: flex;
  align-items: center;
  flex: 3;
  justify-content: flex-end;
  padding: 7px 0;
  max-width: 360px;
}

.userProfile {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 5px;
  transition: all 0.2s;
}

.userProfile:hover {
  background: #eeeff1;
}

.userAvatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-size: 15px;
  font-weight: 600;
  color: rgb(5, 5, 5);
  padding-left: 7px;
  padding-right: 10px;
}

.userButton {
  width: 40px;
  height: 40px;
  background: rgb(228, 230, 235);
  padding: 0;
  border: 0;
  margin-left: 7px;
  border-radius: 50%;
  transition: all 0.2s;
  position: relative;
}

.userNotification {
  position: absolute;
  color: white;
  top: -5px;
  right: -5px;
  background: #f02849;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.userButton:hover {
  background: #d3d4d8;
}

.userButton img {
  width: 20px;
  height: 20px;
}

.topBarButton button:hover {
  cursor: pointer;
}

.icon {
  font-size: 28px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .userProfile {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .userProfile {
    display: none;
  }
  .topBarButton {
    flex: 2;
  }
}

@media screen and (max-width: 767px) {
  .userProfile,
  .topBarIcon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .topBarButton {
    display: none;
  }
}
