.chat {
  display: flex;
  height: 100vh;
}

.chat-user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.chat-left {
  min-width: 360px;
  padding: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-left-wrapper {
  display: flex;
  gap: 10px;
}

.chat-left h1 {
  margin: 0;
}

.chat-left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-icon {
  background: #f9f9f9;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.chat-icon img {
  width: 16px;
  height: 16px;
}

.chat-icon button {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

.chat-icon button:hover {
  cursor: pointer;
}

.chat-right {
  flex: 1;
}
