.topHeader {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 7px 14px;
  background: #4267b2;
}

.topHeaderLogo {
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: 800;
  color: white;
}

.topHeaderButton {
  display: flex;
  align-items: center;
}

.topHeaderButton button {
  font-size: 20px;
  color: white;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

.topHeaderButton button:hover {
  cursor: pointer;
}
