body {
  margin: 0;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
}

/* Add status emoji */
.emoji-picker-react {
  position: absolute !important;
  display: none !important;
  right: 0;
  right: -21%;
  box-shadow: -10px -10px 16px rgb(0 0 0 / 10%) !important;
}

.emoji-picker-react.show {
  display: flex !important;
}
